.outter {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.info {
    overflow: auto;
}

.icons {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 1.5rem;
    gap: 0.5rem;
}