.outter {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 4rem;
}